/* General settings */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    margin: 0 auto;
    min-width: 20rem;
    max-width: 26.25rem;
}

/* Header */

.nav-bar {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    height: 3rem;
    background-color: white;
    color: rgb(163, 163, 163);
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 3rem;
    align-items: center;
    min-width: 320px;
}

.nav-logo-container img {
    width: 90%;
    vertical-align: middle;
}

.menu {
    display: none;
}

.hamburger {
    width: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
}

.hamburger .burger-bar {
    margin: 0 auto;
    margin-bottom: 0.25rem;
    height: 0.25rem;
    width: 1.7rem;
    background-color: rgb(160, 160, 160);
    border-radius: 8px;
}

.hamburger .burger-bar:last-of-type {
    margin-bottom: 0;
}

/* Hero */

.hero-container {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    margin-top: -3.75rem;
    margin-left: 1.5rem;
    margin-bottom: -8rem;
    min-width: 320px;
}

.hero-content {
    align-items: center;
    position: absolute;
    max-width: 18rem;
    
}

.hero-img-container {
    width: 20%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: 100px;
    padding-bottom: 100px;

}

.hero-content h4 {
    color: #ff4f7e;
    font-weight:600;
    text-transform: uppercase;
    padding-bottom: 2rem;
    min-width: 350px;
}

.hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 16px;
}

.hero-button {
    margin-top: 2rem;
}

.hero-button button {
    border-radius: 4rem;
    cursor: pointer;
    width: 10rem;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(26deg, #ff4f7e,#f82c63, #f38943, #c9dd7e);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  }

.button-label {
    font-weight: bold;
  }

.hero-content p {
    max-width: 232px;
    letter-spacing: 0.1px;
    line-height: 1.25em;
}

.hero-img-container img {
    width: 20rem;
}

/* Free NFT section */

.free-nft {
    margin-top: 150px;
    min-width: 300px;
}

.free-nft-container {
    margin:0 auto;
    display: block;
    padding: 1.5rem;
    box-sizing:content-box;
    height: 10rem;
    background-image: linear-gradient(65deg,rgba(252,116,124, 0.899)1%, #ff6c64 40% , #f4745c 65%, rgba(116, 255, 52, 0.497)100%);
    padding-bottom: 3rem;
    position: relative;
    }

.free-nft-text {
    position: absolute;
    bottom: 2rem;
    width: 80%;
}

.free-nft-text h4 {
    font-size: 32px;
    margin-bottom: 1rem;
}

.free-nft-text p {
    letter-spacing: 0.5px;
    line-height: 1.5rem;
}

/* Companies section */

.companies {
    min-width: 320px;
    max-width: 428px;
}

.companies-container {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  padding-top: 45px;
  max-width: 392px;
}

.open-door-logo {
    display: none;
}

.companies-container img {
    max-width: 8rem;
    padding: 1.5rem 1.5rem 1.5rem 0;
    margin-right: 0;
    padding-right: 0;
}

/* Auction section */

.auction {
    padding: 1.5rem;
  }

.auction-text-container{
    width: 90%;
}

.auction-text-container h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.auction-text-container p {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #797979;
    line-height: 1.5rem;
  }

.auction-text-container p span a {
    color:#666565
}

.auction-text-container p span a:hover {
    color:#8f8f8f
}

.auction .cards {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: hidden;
  }

.inner-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 6px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    align-items: center;
    }

.card-series { 
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    color:rgb(247, 132, 38);
    font-size: 14px;
}
.card-current-bid {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
    font-size: 14px;
}
.card-name {
    grid-area: 2 / 1 / 3 / 2;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.card-price {
    grid-area: 2 / 2 / 3 / 3;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}
.card-price img {
    vertical-align: middle;
}
.card-number {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 16px;
    color: #797979;
}
.card-days-left {
    grid-area: 3 / 2 / 4 / 3;
    text-align: right;
    color: #797979;
}   

  .card-1, .card-2, .card-3, .card-4 {
        width: 290px;
        height: 25rem;
        background: #d4d4d4;
        border-radius: 1rem;
  }

/* Launch section */

  .img-launch-container {
    width: 15%;
    max-width: 380px;
    margin-left: auto;
    margin-right: 7rem;
    padding-bottom: 100px;
    margin-top: 11.5rem;
  }

  .launch-container {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    margin-left: 1.5rem;
    margin-bottom: -3rem;
    min-width: 320px;
    gap: 8px;
}

.launch-content {
    align-items: center;
    position: absolute;
    max-width: 14rem;
    top: 3rem;
    
}

.launch-content h4 {
    color: #ff4f7e;
    font-weight:600;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.launch-content h1 {
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 1rem;
}

.launch-content p {
    font-size: 16px;
    max-width: 13.5rem;
    line-height: 1.75em;
}

.separator2 {
    height:1px;
    background-color: #797979;
    opacity: 50%;
    margin-top: -6.5rem;
    margin-bottom: 3rem;
}

/* Footer */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    width: 70%;
    padding-left: 1.5rem;
}

.footer-grid h6 {
    font-weight: 500;
    text-transform: uppercase;
    color: #5a5a5a;
}

.footer-grid ul {
    margin-bottom: 8px;
    color: #797979;
}

.footer-grid a {
    text-decoration: none;
    color: #797979;
}

.footer-about {
    grid-area: 1 / 1 / 2 / 2;
}
.footer-nft {
    grid-area: 1 / 2 / 2 / 3;
}
.footer-contact {
    grid-area: 2 / 1 / 3 / 2;
}
.footer-social {
    grid-area: 2 / 2 / 3 / 3;
}

.footer-logo img {
    width: 50%;
}

.footer-social-logos * {
    vertical-align: middle;
    color: #797979; 
    margin-right: 12px;
}

.footer-social-logos i:last-of-type {
    margin-right: 0;
}

.footer-social-logos *:hover {
    color: #969696;  
    cursor: pointer;
}

.footer-flex {

    display: flex; 
    /* flex-flow: column nowrap; */ 
    flex-direction: column; 
    flex-wrap: nowrap; 
    height: 100%;
    gap: 1rem;
    justify-content: center;
    width: 70%;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
}

.footer-copyright {
    color: #aaaaaa;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.august-launch {
    display: none;
}

/* Other/test styles */

.separator {
    height:1px;
    background-color: #797979;
    opacity: 50%;
    margin-top: 2rem;
}

.separator2 {
    height:1px;
    background-color: #797979;
    opacity: 50%;
    margin-top: -6.5rem;
    margin-bottom: 3rem;
}


@media screen and (min-width: 428px) {

    .container {
        min-width: 428px;
        max-width: none;
        padding: 2rem;
    }

    .nav-bar {
        margin: 0 auto;
        margin-top: 1rem;
        display: flex;
        height: 3rem;
        background-color: white;
        color: rgb(163, 163, 163);
        justify-content: space-between;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        margin-bottom: 3rem;
        align-items: center;
        min-width: 320px;
    }

    .nav-logo-container img {
        width: 80%;
    }

    .menu {
        display: flex;
    }

    nav ul {
        display: flex;
        list-style: none;
        font-size: 0.75rem;
    }

    nav li {
        margin-right: 8px;
        white-space:nowrap;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .menu nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .menu nav ul li a:hover {
        color: rgb(145, 145, 145);
    }

    .menu nav ul li:last-child a {
        margin-right: 0;
        color: #ff7a9e;
    }

    .menu nav ul li:last-child a:hover {
        color: #ff0000;
    }

    .hamburger {
        display: none;
    }

    .free-nft-container {
        border-radius: 1rem;
    }
}

@media screen and (min-width: 768px) {

    nav ul {
        font-size: 1rem;
    }

    nav li {
        margin-right: 1rem;
    }

    .nav-logo-container img {
        width: 90%;
    }

    nav li:last-of-type {
        margin-right: 0;
    }

    .auction-text-container p {
        white-space: nowrap;
    }

    .hero-content {
        align-items: center;
        position: absolute;
        max-width: 47%;
    }

    .hero-img-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 128px;
        margin-right: 11rem;
        max-width: 300px;
    }

    .hero-img-container img {
        width: 28rem
    }
    

    .hero-content h1 {
        padding-bottom: 32px;
        max-width: 20rem;
        line-height: 1.25em;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .hero-content p {
        max-width: 30rem;
        letter-spacing: 0.1px;
        line-height: 1.5em;
        padding-bottom: 2rem;
    }

    .open-door-logo {
        display: block;
    }

    .companies-container {
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
    }
        
    .companies {
        min-width: 320px;
        max-width: none;
    }  
            
    .companies-container img {
        padding: 1%;
    }

    .footer-logo {
        width: 65%;
    }

    .auction .cards {
        margin-top: 3rem;
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .card-1, .card-2, .card-3, .card-4 {
        display: block;
        width: 25%;
        height: 100%;
        border-radius: 1rem;

    }

    .card-1 img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-2 img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-3 img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-4 img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-price img {
        display: inline;
        height: auto;
        width: 6px;
        margin: 0;
    }

    .card-series {
        font-size: 10px;vertical-align: middle;
    }
    .card-current-bid {
        font-size: 10px;
        vertical-align: middle;
    }
    .card-name {
        font-size: 12px;
        vertical-align: middle;
        white-space: nowrap;
    }
    .card-price {
        font-size: 12px;
        font-weight: 500;
        vertical-align: middle;
        white-space: nowrap;
    }
    .card-price img {
        vertical-align: middle;
    }
    .card-number {
        font-size: 10px;
        vertical-align: middle;
    }
    .card-days-left {
        font-size: 10px;
        vertical-align: middle;
    }
    .inner-card-container {
        padding: 0.5rem;
    }

    .launch-container {
        position: relative;
        justify-content: space-between;
    }

    .launch-content {
        padding-top: 2rem;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .launch-content h4 {
        margin-top: 4rem;
    }

    .launch-content h1 {
        max-width: 32rem;
    }

    .launch-content p {
        max-width: 28rem;
    }

    .launch-content {
        max-width: 36rem;
    }

    .img-launch-container {
        margin-top: 4rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin-right: 8%;
        width: 20%;
        align-items: center;
        padding-bottom: 103px;
        max-width: none;
        z-index: -1;
    }

    .footer-wrapper {
        display: flex;
    }

    .footer-flex {
        flex: 1;
    }

    .footer-grid {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        z-index: 1;
    }

    .footer-about {
        grid-area: 1 / 1 / 2 / 2;
    }
    .footer-nft {
        grid-area: 1 / 2 / 2 / 3;
    }
    .footer-contact {
        grid-area: 1 / 3 / 2 / 4;
    }
    .footer-social {
        grid-area: 1 / 4 / 2 / 5;
    }

    .footer-copyright {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .august-launch {
        display: block;
    }

    .footer-logo {
        max-width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .card-price img {
        display: inline;
        height: auto;
        width: 12px;
        margin: 0;
    }

    .card-series {
        font-size: 12px;
    }
    .card-current-bid {
        font-size: 12px;
    }
    .card-name {
        font-size: 16px;
        vertical-align: middle;
    }
    .card-price {
        font-size: 16px;
    }
    .card-number {
        font-size: 16px;
    }
    .card-days-left {
        font-size: 16px;
    }
    .inner-card-container {
        padding: 1rem;
    }

    .img-launch-container {
        margin-right: 15%;
    }
}

@media screen and (min-width: 1080px) {
    .card-price img {
        display: inline;
        height: auto;
        width: 16px;
        margin: 0;
    }

    .card-series {
        font-size: 14px;
        vertical-align: middle;
    }
    .card-current-bid {
        font-size: 14px;
        vertical-align: middle;
    }
    .card-name {
        font-size: 18px;
        vertical-align: middle;
        white-space: nowrap;
    }
    .card-price {
        font-size: 18px;
        font-weight: 500;
        vertical-align: middle;
    }
    .card-price img {
    vertical-align: middle;
    }
    .card-number {
        font-size: 18px;
        vertical-align: middle;
    }
    .card-days-left {
        font-size: 18px;
        vertical-align: middle;
    }
    .inner-card-container {
        padding: 1rem;
    }

    .img-launch-container {
        margin-right: 18%;
    }
}

@media screen and (min-width: 1152px){
    .inner-card-container {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }
}
