* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    height: 3rem;
    background-color: white;
    color: rgb(163, 163, 163);
    justify-content: space-between;
    padding: 1.5rem;
}

.menu {
    display: none;
}

.hamburger {
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 2rem;
}

.hamburger .burger-bar {
    display: block;
    margin-bottom: 0.25rem;
    height: 0.3rem;
    width: 1.5rem;
    background-color: rgb(104, 104, 104);
    border-radius: 8px;
}